<% if @kitten.errors.any? %>
    <p>There are some errors in the form: </p>
    <ul>
        <% @kitten.errors.full_messages.each do |message| %>
            <li>
                <%= message %>
            </li>
        <% end %>
    </ul>
<% end %>

<h2>
    Add a Kitten, any Kitten !!
</h2>

<%= render "form", kitten: @kitten %>
